/delicious
/DLLs
/Doc
/eggs.txt
/geckodriver-v0.26.0-win64
/geckodriver-v0.26.0-win64.zip
/geckodriver.exe
/geckodriver.log
/include
/Lib
/libs
/LICENSE.txt
/mydata.bak
/mydata.dat
/mydata.dir
/NEWS.txt
/python.exe
/python3.dll
/python38.dll
/pythonw.exe
/screenshot_example.png
/Scripts
/selenium
/share
/spam
/spam_can
/tcl
/Tools
/vcruntime140.dll